.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centralise {
    text-align: center;
}

.flowLeft {
    float: left;
    padding: 1em 1em 1em 0;
}

.flowRight {
    float: right;
    padding: 1em 0 1em 1em;
}

.clearfix {
    overflow: auto;
}

.graycolour {
    background-color: lightgray;
}

.responsivewrap {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0;
    border: 2px solid gray;
    z-index: 1;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.gridwrapper {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
}

.item {
    background: white;
    color: black;
    padding: 1em;
    border: 2px solid gray;
    text-align: center;
}

.address p {
    line-height: 1.25em;
    text-align:left;
}

.disclaimer {
    text-align: left;
    line-height: 1em;
    font-style: italic;
}

.btn {
    background-color: white;
    padding: 0.5em;
    border-radius: 0.25em;
    border: 1px solid black;
}

a {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: gray;
    text-decoration: underline;
}

h2 span {
    font-family: Georgia, serif;
    font-weight: 100;
    text-shadow: 0 0 1px black;
    color: black;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.25em;
    border: 2px solid black;
    box-shadow: 0 0 4px gray;
}

h2 span:hover {
    background-color: gray;
    color: white;
    text-decoration: none;
    border: 2px solid gray;
}

h3 {
    font-size: 1.5em;
    font-family: "Arial Narrow, Arial, sans-serif";
    font-style: italic;
    text-shadow: 0 0 1px gray;
    padding: 3em 0 0 0;
    /*text-decoration: underline;*/
}

nav span {
    display: inline-block;
    font-size: 1em;
    font-family: Georgia, serif;
    color: black;
    margin: 0.25em;
}

header {
    position: fixed;
    width: 100%;
    padding: 1em 0;
    background: white;
    border-bottom: 2px solid gray;
    z-index: 2;
}

p {
    font-family: "Arial Narrow, Arial, sans-serif";
    line-height: 1.6em;
    text-align: justify;
}

div {
    padding: 0 0 1em 0;
}

th, td {
    font-weight: 100;
    text-shadow: 0 0 5px white;
    border: 2px solid gray;
    padding: .5em;
    background-size: cover;
    background-position: center;
}

html {
    scroll-behavior: smooth;
}
